{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
      "browser": true,
      "node": true
    },
    "plugins": ["react", "jsx-a11y", "import"],
    "rules": {
      "react/jsx-filename-extension": 0,
      "import/no-extraneous-dependencies": 0,
      "import/no-unresolved": 0,
      "import/no-extensions": 0,
      "import/extensions": 0
    }
}