body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body,
body > div {
  height: 100%;
  width: 100%;
}

body > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body > div > .flex-container {
  max-width: 70%;
  max-height: 80%;
}

body > div > .flex-container-center {
  width: 50%;
  height: 50%;
}
